# Ignore local environment files
.env
*.env

# Ignore Byebug command history file.
.byebug_history

## Environment normalization:
/.bundle/
/vendor/bundle
/lib/bundler/man/

# Used by RuboCop. Remote config files pulled in from inherit_from directive.
.rubocop-https?--*

# Include project IDE settings, but ignore user-specific settings.
!.idea/
*.iml
*.iws
out/
